# Environment variables
.env

# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose-eds.yml
.env.bkp
data/mappings.json
data/charts.json
data/certs/c6a0532ed5a30983c508428c51444b8568f8a6ceeff135dd90f069b1fcf99201-certificate.pem.crt
data/certs/c6a0532ed5a30983c508428c51444b8568f8a6ceeff135dd90f069b1fcf99201-private.pem.key
data/certs/c6a0532ed5a30983c508428c51444b8568f8a6ceeff135dd90f069b1fcf99201-public.pem.key
data/certs/certificate.pem.crt
data/certs/private.pem.key
data/mqtt_events.duckdb
data/mqtt_events.duckdb.wal
build_docker_image.sh
.repomix/config/repomixtestbundle-repomix.config.json
repomix-output.xml
.repomix/bundles.json
repomix.config.json
docker-compose.yml.demo
